language: go

go:
  - 1.9
  - tip

go_import_path: github.com/turbonomic/turbo-go-sdk

before_install:
  - go get -v github.com/mattn/goveralls

matrix:
  allow_failures:
    - go: tip

script:
  - make fmtcheck 
  - if [ "$TRAVIS_GO_VERSION" == "tip" ] ; then make test ; else $HOME/gopath/bin/goveralls -v -race -service=travis-ci -ignore="pkg/proto/*" ; fi
